<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>C-Link</title>

  <!-- CSS  -->
	<link href="font/google-material/material-icons.css" rel="stylesheet" />
	<link type="text/css" rel="stylesheet" href="font/font.css">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	<link type="text/css" rel="stylesheet" href="css/diagram.css">

</head>
<body class="row">
<div class="navbar-fixed">
  <nav class="blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
			<a href="#" data-activates="nav-mobile" class="pepe button-collapse"><i class="material-icons grey-text text-lighten-3">menu</i></a>
      <a href="/" class="brand-logo"><img class="responsive-image" src="images/logo.png"></a>
			<div class="admin-tab col s8 m6 l6 offset-m2 offset-l2">
				<ul class="tabs lighten-1 valign-wrapper">
					<li class="tab blue lighten-1"><a class="active white-text" href="#admin-subject-div">Subject</a></li>
					<li class="tab blue lighten-1"><a class="white-text" href="#admin-curriculum-div">Curriculum</a></li>
				</ul>
			</div>
			<div class="right search-container hide-on-med-and-down">
				<ul class="row">
					<li class="search-area">
						<a id="search-toggle"><i class="material-icons grey-text text-lighten-3" onclick="showSearch()">search</i></a>
						<div class="input-field" id="search-bar-div">
							<input id="search-bar" type="search" class="blue lighten-1" placeholder="Search Course">
							<label for="search"><i class="material-icons grey-text text-lighten-3" >search</i></label>
							<i class="material-icons grey-text text-lighten-3" onclick="hideSearch()">close</i>
						</div>
					</li>

					<li><a class="dropdown-button valign-wrapper" data-beloworigin="true" data-activates='logout-drop' href="#"><i class="small material-icons grey-text text-lighten-3">arrow_drop_down</i></a></li>
				</ul>
			</div>

      <ul id="nav-mobile" class="side-nav">
        <li><a id="search-toggle"><i class="material-icons">search</i></a></li>
				<a class="active grey-text text-lighten-3" href="#admin-subject-div">Subject</a>
				<a class=" grey-text text-lighten-3" href="#admin-curriculum-div">Curriculum</a>
        <li><a class="valign-wrapper" href="/logout">Logout</a></li>
      </ul>

    </div>
  </nav>
</div>

<div class="base-div grey lighten-3">
	<div class="admin-div col s12 m12 l12 row">
		<div id="admin-subject-div" class="col s12 m12 l12 row ">
			<div class="col s12 m6 l6">
				<div class="admin-current-subjects container">
					<ul class="collapsible" data-collapsible="accordion" id="departments">
					</ul>
				</div>
				<div class="admin-import-csv col s12 file-field input-field">
					<div class="waves-effect waves-light btn blue lighten-1 col s4 offset-s4 valign-wrapper">
						<span class="white-text">Import CSV</span>
						<input id="upload_dept" type="file"/>
					</div>
				</div>
			</div>
			<div class="col s12 m6 l6">
				<div class="admin-add-subjects">
					<div>
						<form class="col s10 offset-s1">
							<div class="row">
								<i class="login-icon material-icons prefix col s1">location_city</i>
								<div class="input-field col s11">
									<select onfocus='this.size=3;' onblur='this.size=1;' onchange='this.size=1; this.blur();' class="" required="required" id="dept_opts">
									    <option value="">Department</option>
									</select>
								    <label>Department</label>
								</div>
							</div>
							<div class="row">
								<div class="input-field col s12">
									<i class="login-icon material-icons prefix">description</i>
									<input id="courseCode" type="text" class="validate">
									<label for="courseCode">Course Code</label>
								</div>
							</div>
							<div class="row">
								<div class="input-field col s12">
									<i class="login-icon material-icons prefix">description</i>
									<input id="courseTitle" type="text" class="validate">
									<label for="courseTitle">Course Title</label>
								</div>
							</div>
							<div class="row">
								<div class="input-field col s6">
									<i class="login-icon material-icons prefix">directions</i>
									<input id="prereq" type="text" class="validate" placeholder="AND+COURSE 1+COURSE 2">
									<label for="prereq">Prerequisite</label>
								</div>
								<div class="input-field col s6">
									<i class="login-icon material-icons prefix blue-text text-lighten-1">swap_vert</i>
									<input id="coreq" type="text" class="validate" value="NONE">
									<label for="coreq">Corequisite</label>
								</div>
							</div>
							<div class="row">
								<div class="input-field col s12">
									<i class="login-icon material-icons prefix">filter_3</i>
									<input id="units" type="number" class="validate">
									<label for="units">Units</label>
								</div>
							</div>
							<div class="row">
								<!-- <div class="sem-offered-div input-field col s12 row">
									<div class="sem-offered col s2">
										<span class="sem-offered-span blue-text text-lighten-1">Semester Offered</span>
									</div>
									<div class="col s10">
										<div class="sem-option col s4 m4 l4">
											<input class="opt_sem" type="checkbox" id="firstsem" />
      								<label for="firstsem">First</label>
										</div>
										<div class="sem-option col s4 m5 l4">
											<input class="opt_sem" type="checkbox" id="secondsem" />
      								<label for="secondsem">Second</label>
										</div>
										<div class="sem-option col s4 m3 l4">
											<input class="opt_sem" type="checkbox" id="midyear" />
      								<label for="midyear">Midyear</label>
										</div>
									</div>
								</div> -->
								<div class="input-field col s12">
									<input id="term" type="text" class="validate">
									<label for="term">Sem Offered (12S)</label>
								</div>
							</div>
							<div class="input-field row">
								<button class="admin-add-new blue lighten-1 large btn waves-effect waves-light center-align col s6 offset-s3" type="submit" name="action" id="courseSubmit">ADD NEW SUBJECT
								<i class="material-icons right">send</i></button>
							</div>
						</form>
					</div>

				</div>
			</div>
		</div>
		<div id="admin-curriculum-div" class="col s12 m12 l12 row">
			<div class="base-div2 row"><!-- -->
                <% for(var i=0; i<curr_map.length;i++) { %>
                    <script>
                        var dummy = JSON.stringify("<%=curr_map[i].code %>");
                    </script>
                    <div class="col s12 m6 l3 row">
                        <div class="blue lighten-1 card col s10 offset-s1">
                        <div class="card-image">
                        <script>
                            var asd = Math.floor(Math.random() * 2) + 1;
                            var pic = '<img src="images/filler'+asd+'.png">';
                            document.write(pic);
                        </script>
                        </div>
                        <div class="card-content valign-wrapper">
                            <a class="grey-text text-lighten-3 center-align loader" href="/new" id="<%=curr_map[i].id %>"><%= curr_map[i].title %></a>
                        </div>
                        </div>
                    </div>
                <% }; %>
			</div>
		</div>
	</div>
</div>

<!--	LOGOUT DROPDOWN -->
<ul id="logout-drop" class="dropdown-content col m12 l12">
	<li class="valign-wrapper"><label class="center-align">admin</label></li>
	<li class="divider"></li>
	<li><a href="/logout" class="center-align">Logout</a></li>

</ul>
<!--	EDIT COURSE MODAL -->
<div id="modal-edit-course" class="edit-course-modal modal grey lighten-3 row col s10 m4 l4 offset-s1 offset-m4 offset-l4">
	<nav class="curriculum-nav grey lighten-2 valign-wrapper row">
			<h6 class="center-align grey-text text-darken-1 col s12 m12 l12">Edit Subject</h6>
	</nav>
	<div class="login-tab row col s12 m12 l12 ">
			<div id="login-tab-div" class="row col s12 m12 l12">
				<div class="row container">
					<form action="#">
							<i class="login-icon material-icons prefix col s1">location_city</i>
								<div class="input-field col s11">
									<select onfocus='this.size=3;' onblur='this.size=1;' onchange='this.size=1; this.blur();' class="" required="required" id="dept_opts_edit">
									    <option value="">Department</option>
									</select>
								</div>
						<div class="input-field col s12 m12 l12">
							<i class="login-icon material-icons prefix">description</i>
							<input id="edit-courseCode" type="text" class="validate">
							<label for="courseCode">Course Code</label>
						</div>
						<div class="input-field col s12 m12 l12">
							<i class="login-icon material-icons prefix">description</i>
							<input id="edit-courseTitle" type="text" class="validate">
							<label for="courseTitle">Course Title</label>
						</div>
						<div class="input-field col s12 m12 l12">
							<i class="login-icon material-icons prefix">directions</i>
							<input id="edit-prerequisites" type="text" class="validate">
							<label for="edit-prerequisites">Prerequisite</label>
						</div>
						<div class="input-field col s12 m12 l12">
							<i class="login-icon material-icons prefix">filter_3</i>
							<input id="edit-units" type="number" class="validate">
							<label for="edit-units">Units</label>
						</div>
						<!-- <div class="sem-offered-div input-field col s12 row">
							<div class="sem-offered col s12">
								<span class="sem-offered-span blue-text text-lighten-1">Semester Offered</span>
							</div>
							<div class="col s12">
								<div class="sem-option col s4 m6 l4">
									<input type="checkbox" id="firstsem_edit" />
									<label for="firstsem_edit">First</label>
								</div>
								<div class="sem-option col s4 m6 l4">
									<input type="checkbox" id="secondsem_edit" />
									<label for="secondsem_edit">Second</label>
								</div>
								<div class="sem-option col s4 m6 l4">
									<input type="checkbox" id="midyear_edit" />
									<label for="midyear_edit">Midyear</label>
								</div>
							</div>
						</div> -->
						<div class="input-field col s12 m12 l12">
							<span class="sem-offered-span blue-text text-lighten-1">Semester Offered</span>
							<input id="edit-term" type="text" class="validate">
							<!-- <label for="edit-term">Sem Offered</label> -->
						</div>
						<div class="input-field row col s12 m12 l12">
							<button class="blue lighten-1 large btn waves-effect waves-light center-align col s8 offset-s2" type="submit" name="action" id="edit-submit">EDIT
							<i class="material-icons right">send</i></button>
						</div>
					</form>
				</div>
			</div>
	</div>
</div>
  <!-- jQuery is required by Materialize to function -->
  <script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <script type="text/javascript" src="js/admin.js"></script>
  <script src="js/init.js"></script>
</body>
</html>