<html>
<head>

  <title>awts</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Bitter|Signika|Bree+Serif|Nunito' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Roboto|Merriweather|Righteous|Exo|Changa+One' rel='stylesheet' type='text/css'>
	<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="css/style2.css">
	<link type="text/css" rel="stylesheet" href="css/modal.css">

</head>
<body>
<div class="navbar-fixed">
  <nav class="blue lighten-1" role="navigation">
    <div class="nav-wrapper row">
      <a href="#" class="brand-logo">Logo</a>
<!--
			<div class="">
				<div class="">
-->
<!--
			<div class="admin-tab center">
				<ul class="tabs">
					<li class="tab  green lighten-1"><a class="active white-text" href="#subject-div">Subject</a></li>
					<li class="tab  green lighten-1"><a class="white-text" href="#curriculum-dv">Curriculum</a></li>
				</ul>
			</div>
-->
				<div class="admin-tab center col s4 offset-s4">
					<ul class="tabs blue lighten-1 valign-wrapper">
						<li class="tab blue lighten-1"><a class="active white-text" href="#subject-div">Subject</a></li>
						<li class="tab blue lighten-1"><a class="white-text" href="#curriculum-div">Curriculum</a></li>
					</ul>
				</div>
			

      <div class="search-login-container right">
           <ul id="nav" class="row">
            <li class="col s8">
              <form>
							 	<div class="search-input input-field col s12">
									<a id="search-toggle" class="col s3 offset-s10" onclick="showSearch()"><i class="material-icons  grey-text text-lighten-2">search</i></a>
									<div id="search-bar-div">
										<input id="search-bar" class="blue lighten-1 grey-text text-lighten-2 col s12" placeholder="Search Course" type="search" autofocus>
										<label for="search"><i class="material-icons grey-text text-lighten-2">search</i></label>
										<i class="material-icons col s1 grey-text text-lighten-2" onclick="hideSearch()">close</i>
									</div>
                </div>
              </form>
            </li>
            <li class="login-logout"><a class="dropdown-button valign-wrapper" data-beloworigin="true" data-activates='logout' href="#"><i class="small material-icons">arrow_drop_down</i></a></li>
          </ul>
      </div>
    </div>
		
  </nav>
</div>
<div>
	<div>
		<div id="subject-div" class="col s12 row">
			<div class="current-subjects col s6 row">
				<div class="col s10 offset-s1">
					<ul class="collapsible" data-collapsible="accordion">
						<li>
							<div class="collapsible-header">BS Computer Science</div>
							<div class="collapsible-body">
								<ul>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 100</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 11</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 123</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 124</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 125</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 127</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 128</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 130</a>
									<a class="col s2 black-text">Delete</a>
									</li>
								</ul>		
							</div>
						</li>
						<li>
							<div class="collapsible-header">BS Computer Science</div>
							<div class="collapsible-body">
								<ul>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 100</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 11</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 123</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 124</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 125</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 127</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 128</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 130</a>
									<a class="col s2 black-text">Delete</a>
									</li>
								</ul>		
							</div>
						</li>
						<li>
							<div class="collapsible-header">BS Computer Science</div>
							<div class="collapsible-body">
								<ul>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 100</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 11</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 123</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 124</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 125</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 127</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 128</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 130</a>
									<a class="col s2 black-text">Delete</a>
									</li>
								</ul>		
							</div>
						</li>
						<li>
							<div class="collapsible-header">BS Computer Science</div>
							<div class="collapsible-body">
								<ul>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 100</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 11</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 123</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 124</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 125</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 127</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 128</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 130</a>
									<a class="col s2 black-text">Delete</a>
									</li>
								</ul>		
							</div>
						</li>
						<li>
							<div class="collapsible-header">BS Computer Science</div>
							<div class="collapsible-body">
								<ul>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 100</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 11</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 123</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 124</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 125</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 127</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 128</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 130</a>
									<a class="col s2 black-text">Delete</a>
									</li>
								</ul>		
							</div>
						</li>
						<li>
							<div class="collapsible-header">BS Computer Science</div>
							<div class="collapsible-body">
								<ul>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 100</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 11</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 123</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 124</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 125</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 127</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 128</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 130</a>
									<a class="col s2 black-text">Delete</a>
									</li>
								</ul>		
							</div>
						</li>
						<li>
							<div class="collapsible-header">BS Computer Science</div>
							<div class="collapsible-body">
								<ul>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 100</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 11</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 123</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 124</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 125</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 127</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 128</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 130</a>
									<a class="col s2 black-text">Delete</a>
									</li>
								</ul>		
							</div>
						</li>
						<li>
							<div class="collapsible-header">BS Computer Science</div>
							<div class="collapsible-body">
								<ul>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 100</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 11</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 123</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 124</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 125</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 127</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 128</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 130</a>
									<a class="col s2 black-text">Delete</a>
									</li>
								</ul>		
							</div>
						</li>
						<li>
							<div class="collapsible-header">BS Computer Science</div>
							<div class="collapsible-body">
								<ul>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 100</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 11</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 123</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 124</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 125</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 127</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 128</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 130</a>
									<a class="col s2 black-text">Delete</a>
									</li>
								</ul>		
							</div>
						</li>
						<li>
							<div class="collapsible-header">BS Computer Science</div>
							<div class="collapsible-body">
								<ul>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 100</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 11</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 123</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 124</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 125</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 127</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 128</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 130</a>
									<a class="col s2 black-text">Delete</a>
									</li>
								</ul>		
							</div>
						</li>
						<li>
							<div class="collapsible-header">BS Computer Science</div>
							<div class="collapsible-body">
								<ul>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 100</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 11</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 123</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 124</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 125</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 127</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 128</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 130</a>
									<a class="col s2 black-text">Delete</a>
									</li>
								</ul>		
							</div>
						</li>
						<li>
							<div class="collapsible-header">BS Computer Science</div>
							<div class="collapsible-body">
								<ul>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 100</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 11</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 123</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 124</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 125</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 127</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 128</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 130</a>
									<a class="col s2 black-text">Delete</a>
									</li>
								</ul>		
							</div>
						</li>
						<li>
							<div class="collapsible-header">BS Computer Science</div>
							<div class="collapsible-body">
								<ul>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 100</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 11</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 123</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 124</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 125</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 127</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 128</a>
									<a class="col s2 black-text">Delete</a>
									</li>
									<li class="row"><a class="modal-trigger valign-wrapper col s10" href="">CMSC 130</a>
									<a class="col s2 black-text">Delete</a>
									</li>
								</ul>		
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="add-subject-admin col s6 row">
				<form class="col s10 offset-s1">
					<div class="row">
						<div class="input-field col s12">
							<i class="login-icon material-icons prefix">lock</i>
							<input id="department" type="text" class="validate">
							<label for="department">Department</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<i class="login-icon material-icons prefix">lock</i>
							<input id="courseCode" type="text" class="validate">
							<label for="courseCode">Course Code</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<i class="login-icon material-icons prefix">lock</i>
							<input id="icon_prefix" type="text" class="validate">
							<label for="icon_prefix">Course Title</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s7">
							<i class="login-icon material-icons prefix">lock</i>
							<input id="icon_prefix" type="text" class="validate">
							<label for="icon_prefix">Prerequisite</label>
						</div>
						<div class="input-field col s5">
							<i class="login-icon material-icons prefix">lock</i>
							<input id="icon_prefix" type="number" class="validate">
							<label for="icon_prefix">Units</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<textarea id="course-info" class="materialize-textarea grey lighten-2"></textarea>
							<label class="course-info-label" for="course-info">Course Description</label>
						</div>
					</div>
					<div class="input-field row">
						<button class="blue lighten-1 large btn waves-effect waves-light center-align col s6 offset-s3" type="submit" name="action">ADD NEW SUBJECT
						<i class="material-icons right">send</i></button>
					</div>
				</form>
			</div>
		</div>
		<div id="curriculum-div" class="col s12">
			<div class="base-div row">
				<div class="col s3 row">
					<div class="blue lighten-1 card col s10 offset-s1">
						<div class="card-image">
							<img src="images/cara.jpg">
						</div>
						<div class="card-content valign-wrapper">
							<a class="grey-text text-lighten-3 center-align" href="#">BS Computer Science</a>
						</div>
					</div>
				</div>
				<div class="col s3 row">
					<div class="blue lighten-1 card col s10 offset-s1">
						<div class="card-image">
							<img src="images/cara2.jpg">
							<span class="comment-badge new badge red darken-2">3</span>
						</div>
						<div class="card-content valign-wrapper">
							<a class="grey-text text-lighten-3 center-align" href="#">BS Agricultural and Biosystems Engineering</a>
						</div>			
					</div>
				</div>
				<div class="col s3 row">
					<div class="blue lighten-1 card col s10 offset-s1">
						<div class="card-image">
							<img src="images/cara3.jpg">
							<span class="comment-badge new badge red darken-2">19</span>
						</div>
						<div class="card-content valign-wrapper">
							<a class="grey-text text-lighten-3 center-align" href="#">BS Development Communication</a>
						</div>			
					</div>
				</div>
				<div class="col s3 row">
					<div class="blue lighten-1 card col s10 offset-s1">
						<div class="card-image">
							<img src="images/cara4.jpg">
						</div>
						<div class="card-content valign-wrapper">
							<a class="grey-text text-lighten-3 center-align" href="#">BS Applied Mathematics</a>
						</div>			
					</div>
				</div>
				<div class="col s3 row">
					<div class="blue lighten-1 card col s10 offset-s1">
						<div class="card-image">
							<img src="images/cara5.jpg">
						</div>
						<div class="card-content valign-wrapper">
							<a class="grey-text text-lighten-3 center-align" href="#">BS Math</a>
						</div>			
					</div>
				</div>
			</div>
		</div>
	</div>
</div>	

<!-- ----------------------------------- DROP DOWN ------------------------------------ -->
<!--	LOGOUT DROPDOWN -->
<ul id="logout" class="logout-drop dropdown-content ">
	<li class="valign-wrapper"><label class="center-align">bestSP2016@up.edu.ph</label></li>
	<li class="divider"></li>
	<li><a href="#!" class="center-align">Logout</a></li>
</ul>	

<!-- -------------------------------- END OF DRPWDOWN -------------------------------- -->

  <!-- jQuery is required by Materialize to function -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <script type="text/javascript" src="js/modal.js"></script>

</body>
</html>