<html>
<head>

  <title>awts</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Bitter|Signika|Bree+Serif|Nunito' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Roboto|Merriweather|Righteous|Exo|Changa+One' rel='stylesheet' type='text/css'>
	<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="css/style2.css">
	<link type="text/css" rel="stylesheet" href="css/modal.css">
    <script type="text/javascript">
    </script>
</head>
<body>
<div class="navbar-fixed">
  <nav class="blue lighten-1" role="navigation">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <div class="search-login-container right">
           <ul id="nav" class="row">
            <li class="col s8">
              <form>
                <div class="search-input input-field col s12">
									<a class="modal-trigger col s3 offset-s10" href="#modal-feedback"><i class="material-icons">search</i></a>
<!--
									<input class="grey lighten-3 grey-text text-darken-3 col s12" placeholder="Search Course" type="search">
									<label for="search"><i class="material-icons grey-text text-darken-3">search</i></label>
									<i class="material-icons col s1">close</i>
-->
                </div>
              </form>
            </li>
            <li class="login-logout"><a class="dropdown-button valign-wrapper" data-beloworigin="true" data-activates='logout' href="#"><i class="small material-icons">arrow_drop_down</i></a></li>
          </ul>
      </div>
    </div>
  </nav>
</div>

<div class="base-div row">
	<div class="col s3 row">
		<div class="blue lighten-1 card col s10 offset-s1">
			<div class="card-image">
				<img src="images/cara.jpg">
			</div>
			<div class="card-content valign-wrapper">
				<a class="grey-text text-lighten-3 center-align" href="#">BS Computer Science</a>
			</div>
		</div>
	</div>
	<div class="col s3 row">
		<div class="blue lighten-1 card col s10 offset-s1">
			<div class="card-image">
				<img src="images/cara2.jpg">
				<span class="comment-badge new badge red darken-2">3</span>
			</div>
			<div class="card-content valign-wrapper">
				<a class="grey-text text-lighten-3 center-align" href="#">BS Agricultural and Biosystems Engineering</a>
			</div>
		</div>
	</div>
	<div class="col s3 row">
		<div class="blue lighten-1 card col s10 offset-s1">
			<div class="card-image">
				<img src="images/cara3.jpg">
				<span class="comment-badge new badge red darken-2">19</span>
			</div>
			<div class="card-content valign-wrapper">
				<a class="grey-text text-lighten-3 center-align" href="#">BS Development Communication</a>
			</div>
		</div>
	</div>
	<div class="col s3 row">
		<div class="blue lighten-1 card col s10 offset-s1">
			<div class="card-image">
				<img src="images/cara4.jpg">
			</div>
			<div class="card-content valign-wrapper">
				<a class="grey-text text-lighten-3 center-align" href="#">BS Applied Mathematics</a>
			</div>
		</div>
	</div>
	<div class="col s3 row">
		<div class="blue lighten-1 card col s10 offset-s1">
			<div class="card-image">
				<img src="images/cara5.jpg">
			</div>
			<div class="card-content valign-wrapper">
				<a class="grey-text text-lighten-3 center-align" href="#">BS Math</a>
			</div>
		</div>
	</div>
</div>

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
	<a class="btn-floating btn-large btn tooltipped blue lighten-1" href="index.html" data-position="left" data-tooltip="Create New Curriculum">
		<i class="large material-icons">add</i>
	</a>
</div>

<!-- ----------------------------------- DROP DOWN ------------------------------------ -->
<!--	LOGOUT DROPDOWN -->
<ul id="logout" class="logout-drop dropdown-content ">
	<li class="valign-wrapper"><label class="center-align">bestSP2016@up.edu.ph</label></li>
	<li class="divider"></li>
	<li><a href="#!" class="center-align">Logout</a></li>
</ul>

<!-- -------------------------------- END OF DRPWDOWN -------------------------------- -->

  <!-- jQuery is required by Materialize to function -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <script type="text/javascript" src="js/modal.js"></script>

</body>
</html>