<html>
<head>

  <title>awts</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Bitter|Signika|Bree+Serif|Nunito' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Roboto|Merriweather|Righteous|Exo|Changa+One' rel='stylesheet' type='text/css'>
	<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="css/style2.css">
	<link type="text/css" rel="stylesheet" href="css/modal.css">
</head>
<body>
<div class="navbar-fixed">
  <nav class="blue lighten-1" role="navigation">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Logo</a>
      <div class="search-login-container right">
           <ul id="nav" class="row">
            <li class="col s8">
              <form>
               <div class="search-input input-field col s12">
									<a id="search-toggle" class="col s3 offset-s10" onclick="showSearch()"><i class="material-icons  grey-text text-lighten-2">search</i></a>
									<div id="search-bar-div">
										<input id="search-bar" class="blue lighten-1 grey-text text-lighten-2 col s12" placeholder="Search Course" type="search" autofocus>
										<label for="search"><i class="material-icons grey-text text-lighten-2">search</i></label>
										<i class="material-icons col s1 grey-text text-lighten-2" onclick="hideSearch()">close</i>
									</div>
                </div>
              </form>
            </li>
            <li class="login-logout"><a class="dropdown-button valign-wrapper" data-beloworigin="true" data-activates='logout' href="#"><i class="small material-icons">arrow_drop_down</i></a></li>
          </ul>
      </div>
    </div>
  </nav>
</div>

<div class="base-div row">
	<div class="col s3 row">
        <% for(var i=0; i<curr_map.length;i++) { %>
            <div class="blue lighten-1 card col s10 offset-s1">
            <div class="card-image">
                <img src="images/cara5.jpg">
            </div>
            <div class="card-content valign-wrapper">
                <a class="grey-text text-lighten-3 center-align" href="#"><%= curr_map[i].title %></a>
            </div>
        </div>
        <% }; %>
	</div>
</div>

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
	<a class="btn-floating btn-large btn tooltipped blue lighten-1" href="/new" data-position="left" data-tooltip="Create New Curriculum">
		<i class="large material-icons">add</i>
	</a>
</div>

<!-- ----------------------------------- DROP DOWN ------------------------------------ -->
<!--	LOGOUT DROPDOWN -->
<ul id="logout" class="logout-drop dropdown-content ">
	<li class="valign-wrapper"><label class="center-align"><%= ident %></label></li>
	<li class="divider"></li>
	<li><a href="/logout" class="center-align">Logout</a></li>
</ul>

<!-- -------------------------------- END OF DRPWDOWN -------------------------------- -->

  <!-- jQuery is required by Materialize to function -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <script type="text/javascript" src="js/modal.js"></script>

</body>
</html>