<html>
<head>

  <title>
    <%= title %>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Bitter|Signika|Bree+Serif|Nunito' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Crete+Round|Indie+Flower|Righteous|Exo|Changa+One' rel='stylesheet' type='text/css'>
	<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="css/style.css">
	<link type="text/css" rel="stylesheet" href="css/modal.css">

</head>
<body>
<div class="navbar-fixed">
  <nav class="grey lighten-3" role="navigation">
    <div class="nav-wrapper">
      <a href="index.html" class="brand-logo">Logo</a>
      <div class="search-login-container right">
           <ul id="nav-mobile" class="row">
            <li class="col s8">
              <form>
                <div class="search-input input-field col s12">
									<a class="modal-trigger col s3 offset-s10" href="#modal-feedback"><i class="material-icons blue-text text-lighten-1">search</i></a>
<!--
									<input class="grey lighten-3 grey-text text-darken-3 col s12" placeholder="Search Course" type="search">
									<label for="search"><i class="material-icons grey-text text-darken-3">search</i></label>
									<i class="material-icons col s1">close</i>
-->
                </div>
              </form>
            </li>
            <li class="login-logout"><a class="modal-trigger valign-wrapper" href="#modal-login">Login</a></li>
          </ul>
      </div>
    </div>
  </nav>
</div>

<div class="intro blue lighten-1 z-depth-1 valign-wrapper row col s15">
	<div class="col s6">
		<div class="intro-info valign col s11 offset-s1 row">
			<h3 class="white-text">Unravel the best routes.</h3>
			<h5 class="white-text">Design, Acquire Feedback, Evaluate.</h5>
			<a class="start-draw waves-effect waves-light btn-large grey lighten-2 blue-text col s4 offset-s2 modal-trigger" href="#modal-curriculum">Start Drawing</a>
<!--			<h2>Evaluate.</h2>-->
		</div>
	</div>

	<div class="col s6">
		<div class="intro-background valign-wrapper col s11">
<!--			<h2 class="col s12">IMAGE</h2>-->
			<img class="bg-image z-depth-2" src="images/bg2.png" width="100%" height="100%">
		</div>
	</div>

</div>

<div class="container about">
	<br>
  <h4 class="center-align grey-text text-darken-3">Creating a curriculum had never been this easy.</h4>
	<br>
	<div class="info row">
		<img class="creation col s3 offset-s1" src="images/creation.png">
		<div class="info-description col s7 valign-wrapper">
			<div class="valign">
				<h5>Create</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			</div>
		</div>
	</div>
	<br>
	<div class="info row">
		<div class="info-description col s7 offset-s1 valign-wrapper">
			<div class="valign">
				<h5>Interact</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			</div>
		</div>
		<img class="interaction col s3" src="images/interact.png">
	</div>
	<br>
	<div class="info row">
		<img class="revision col s3 offset-s1" src="images/revise.png">
		<div class="info-description col s7 valign-wrapper">
			<div class="valign">
				<h5>Revise</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			</div>
		</div>
	</div>
<!--
  <div class="info row">
    <div class="info-descrpition col s12 m4 l4">
			<img class="creation" src="images/creation.png">
      <h5>Create</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
    </div>
		<div class="info-descrpition col s12 m4 l4">
			<img class="interaction" src="images/interact.png">
      <h5>Interact</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
		<div class="info-descrpition col s12 m4 l4">
			<img class="revision" src="images/revise.png">
      <h5>Revise</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
    </div>
  </div>
-->
</div>

<br>
<div class="other-about row">
	<div class="other-about-inside">
		<h3 class="center-align grey-text text-darken-3">Make Your Own</h3>
		<a class="start-draw-other waves-effect waves-light btn-large blue lighten-1 grey-text text-lighten-2 col s2 offset-s5"><font color="white">Start Drawing</font></a>
	</div>

</div>
<!--
<div class="row">
	<a class="start-draw waves-effect waves-light btn-large col s2 offset-s5 blue lighten-1">Start Drawing</a>
</div>
-->

<footer>
  <div class="footer-copyright grey lighten-3">
    © 2016 Institute of Computer Science, UPLB
  </div>
</footer>

<!-- ----------------------------------- MODALS ------------------------------------ -->
<!--	LOGIN MODAL -->
<div id="modal-login" class="login modal grey lighten-3">
	<nav class="login-nav valign-wrapper grey lighten-2">
			<h6 class="center-align grey-text text-darken-1">Login with e-UP Account</h6>
	</nav>
	<div class="login-div container">
		<div class="login-form">
			<form action="landing.html">
				<div class="input-field">
					<i class="login-icon material-icons prefix">email</i>
          <input id="email" type="email" class="validate">
          <label for="email">Email (@up.edu.ph)</label>
				</div>
				<div class="input-field">
					<i class="login-icon material-icons prefix">lock</i>
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
				</div>
				<div class="input-field row">
          <button class="blue lighten-1 large btn waves-effect waves-light center-align col s8 offset-s2" type="submit" name="action">Login
					<i class="material-icons right">send</i></button>
				</div>
			</form>
		</div>
	</div>
	<div class="login-footer grey lighten-2 valign-wrapper">
			<h6 class="center-align grey-text text-darken-1">Find out how to get your e-UP account <a href="https://www.uplbosa.org">here</a></h6>
	</div>
</div>

<!-- FEEDBACK MODAL	-->
<div id="modal-feedback" class="feedback modal grey lighten-3">
	<nav class="feedback-nav valign-wrapper grey lighten-2">
			<h6 class="center-align grey-text text-darken-1">Curriculum Feedback</h6>
	</nav>
	<div class="feedback-div container">
		<div class="feedback-form">
			<form>
				<div class="feedback-sem">
					<h6 class="blue-text text-lighten-1">Preferred Semester</h6>
					<p class="range-field"><input type="range" min="0" max="11" /></p>
				</div>
        <div class="feedback-comment input-field">
					<h6 class="blue-text text-lighten-1">Comments</h6>
          <textarea id="comments" class="materialize-textarea grey lighten-2"></textarea>
        </div>
				<div class="input-field row">
          <button class="blue lighten-1 large btn waves-effect waves-light center-align col s8 offset-s2" type="submit" name="action" onClick="switchModal()">Submit
					<i class="material-icons right">send</i></button>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- CURRICULUM MODAL -->
<div id="modal-curriculum" class="curriculum modal grey lighten-3">
	<nav class="curriculum-nav valign-wrapper grey lighten-2">
			<h6 class="center-align grey-text text-darken-1">Create New Curriculum</h6>
	</nav>
	<div class="login-div container">
		<div class="login-form">
			<form action="canvas.html">
				<div class="input-field">
					<i class="login-icon material-icons prefix">email</i>
          <input id="icon_prefix" type="text" class="validate">
          <label for="icon_prefix">Degree Program</label>
				</div>
				<div class="input-field">
					<i class="login-icon material-icons prefix">lock</i>
          <input id="icon_prefix" type="number" class="validate">
					<label for="icon_prefix">Years</label>
				</div>
				<div class="input-field row">
          <button class="blue lighten-1 large btn waves-effect waves-light center-align col s8 offset-s2" type="submit" name="action">Create
					<i class="material-icons right">send</i></button>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- -------------------------------- END OF MODALS -------------------------------- -->

  <!-- jQuery is required by Materialize to function -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <script type="text/javascript" src="js/modal.js"></script>

</body>
</html>