body, html
{
    background-color: #eeeeee !important;
}

.search-login-container {
		width: 30%
}

.search-input {
		height: 100%;
}

.nav-wrapper {
    padding-left: 5%;
    padding-right: 5%;   
    height: 100%;
}

nav ul a,
nav .brand-logo
{
    color: #e0e0e0;
    font-size: 20px;
		font-family: 'Bree Serif';
}

.login-logout {
		margin-left: 5%;
}

.logout-drop {
		width: 15% !important;
}

.logout-drop li, .logout-drop li label {
		width: 100%;
}

.base-div {
/*		background-color: red;*/
		width: 100%;
		height: 100%;
		margin-top: 2.5%;
}

.card {
		height: 35%;
		margin-top: 0px;
		padding: 0px !important;
}

.comment-badge {
	position: relative;
	top: 95%;
}

.card-content {
		height: 30%;
		padding: 0px !important;
}

.card-content a {
		width: 100%;
}

.card-image img {
		height: 70%;
}

.card-content a {
		font-size: 14px;
		font-family: 'Merriweather'; 
}



/* ADMIN CSS */
.admin-tab {
	width: 30%;
	height: 100%;
}

.admin-tab ul {
		height: 100%;
}

.admin-tab ul li {
		height: 100% !important;
}

.admin-tab ul li a {
		height: 100% !important;
		padding-top: 2.5% !important;
		font-size: 16px;
}

.add-subject-admin form div{
		margin-bottom: 0px !important;
}

.indicator { /* TAB LINE INDICATOR  */ 
		background-color: white !important;
}

#subject-div, #curriculum-div {
		margin-bottom: 0px !important;
		height: 90%;
}

.current-subjects, .add-subject-admin {
		height: 100%;
		margin-bottom: 0px !important;
		padding-top: 2% !important;
}

.current-subjects div {
		height: 90%;
		overflow: auto;
}

.current-subjects div ul {
		overflow: auto;
		font-family: 'Bree Serif';
}

.collapsible-header {
		height: auto !important;
}

.collapsible-body {
		height: auto !important;
}

.collapsible-body ul li {
		margin: 0px !important;
}

.collapsible-body ul li a {
		margin-left: 5%;
		margin-bottom: 1%;
}

#course-info {
		height: 20% !important;
}

.course-info-label {
		padding: 1% !important;
}