/*
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(myLocalFontDir/MaterialIcons-Regular.eot); 
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(myLocalFontDir/MaterialIcons-Regular.woff2) format('woff2'),
       url(myLocalFontDir/MaterialIcons-Regular.woff) format('woff'),
       url(myLocalFontDir/MaterialIcons-Regular.ttf) format('truetype');
}
*/

.button-collapse {
  color: #42a5f5;
}

body, html
{
    background-color: #eeeeee !important;
}

.search-login-container {
		width: 30%
}

.search-input {
		height: 100%;
}

.nav-wrapper {
    padding-left: 5%;
    padding-right: 5%;   
    height: 100%;
}

nav ul a,
nav .brand-logo
{
    color: #42a5f5;
    font-size: 20px;
		font-family: 'Bree Serif';
}

.login-logout {
		margin-left: 5%;
}

.intro
{
		width: 100%;
    text-align: center;
		margin-bottom: 5%;
}


.intro-info {
		height: 40%;
}

.intro-background {
		height: 75%;
/*		background-color: #e0e0e0;*/
}

.start-draw, .start-draw-other {
		margin-top: 2.5%;
		font-family: Nunito;
		font-weight: bold;
		border-radius: 3px;
}

.intro h3, .intro h5 {
	margin: 1%;
	text-align: left;
	color: #e0e0e0;
	font-family: 'Bree Serif';
}

.info {
		height: 33%;
}

.info-description {
		height: 90%;
}

.about {
/*		height: 80%;*/
}

.about .col
{
    margin-bottom: 24px;
}

.about h4, .about h5 {
		color: #42a5f5;
}

.about h4 {
		margin-bottom: 40px;
		font-style: italic;
		font-family: 'Crete Round';
}

.about h5, .about p {
		margin: 1%;
/*		margin: 2.5%;*/
		font-family: Bitter;
}

.creation, .interaction, .revision {
	margin-left: 10%;
	margin-bottom: 5%;
	height: 100%;
	width: 70%;
}

.other-about {
		height: 35%;
}

.other-about-inside {
		height: 60%;
		position: relative;
		top: 20%;
}

.other-about h3 {
		font-family: 'Crete Round';
		margin-bottom: 0px;
}

.start-draw-other {
		margin-top: 2%;
		font-family: 
}

footer
{
		text-align: center;
    padding-top: 0px;
}




/* TEMPORARY CSS PANG WIREFRAME LANG */

.intro h2 {
		font-family: Nunito;
		color: #42a5f5;
}

.bg-image {
		border-radius: 10px;
}